/.web-server-pid
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/bootstrap.php.cache
!var/SymfonyRequirements.php
/web/bundles/
/web/uploads/
/web/downloads/
/web/.htaccess
/.idea/*
!.idea
!.idea/.gitkeep
*~
/app/config/parameters.yml
/.gitlab-ci.yml.yml
/web/tmp.xml
