{% extends 'base.html.twig' %}

{% block body %}
    <h1>Crear nuevo equipo</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" class="btn btn-default btn-primary" />
    {{ form_end(form) }}
    <br>
    <a href="{{ path('equipo_index') }}" class="btn btn-default btn-sm">Back</a>

{% endblock %}
